@media (min-width: 989px) and (max-width: 1090px) {
  #top #header .av-main-nav > li > a .avia-menu-text {
    letter-spacing: 0;
  }
}
@media (max-width: 1500px) {
  .page-id-21 .caption_framed .slideshow_caption .avia-caption-content p,
  .page-id-21 .caption_framed .slideshow_caption .avia-caption-title,
  .page-id-21 .avia-caption .avia-caption-content p,
  .page-id-21 .avia-caption .avia-caption-title {
    margin-bottom: 0 !important;
    width: 100% !important;
    font-size: 25px !important;
  }
}
@media (max-width: 1090px) {
  .caption_framed .slideshow_caption .avia-caption-content p,
  .caption_framed .slideshow_caption .avia-caption-title,
  .avia-caption .avia-caption-content p,
  .avia-caption .avia-caption-title {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 870px) {
  .caption_framed .slideshow_caption .avia-caption-content p,
  .caption_framed .slideshow_caption .avia-caption-title,
  .avia-caption .avia-caption-content p,
  .avia-caption .avia-caption-title {
    font-size: 25px !important;
  }
}
@media (max-width: 600px) {
  .caption_framed .slideshow_caption .avia-caption-content p,
  .caption_framed .slideshow_caption .avia-caption-title,
  .avia-caption .avia-caption-content p,
  .avia-caption .avia-caption-title {
    font-size: 14px !important;
    letter-spacing: 0 !important;
    padding: 0 !important;
  }
}
@media (max-width: 400px) {
  .caption_framed .slideshow_caption .avia-caption-content p,
  .caption_framed .slideshow_caption .avia-caption-title,
  .avia-caption .avia-caption-content p,
  .avia-caption .avia-caption-title {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  #text-3,
  #text-4,
  #text-5,
  .textwidget a,
  #top label {
    letter-spacing: 0 !important;
    text-transform: none !important;
  }
}
@media (max-width: 767px) {
  #footer .widget {
    margin: 0 !important;
  }
  .hr-invisible {
    height: 15px !important;
  }
  .avia-section-large .content,
  .avia-section-large .sidebar {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
  }
  #av_section_1 > .container > .content {
    padding-top: 0 !important;
  }
}
@media (max-width: 799px) {
  .row-collapse-small-screens {
    display: block !important;
  }
  .row-collapse-small-screens .flex_column {
    width: 100% !important;
    margin-left: 0 !important;
    display: block !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  .row-collapse-small-screens .flex_column + .flex_column[style*="padding"] {
    padding-top: 0 !important;
  }
}
