#top .hr.hr-invisible.av-jkjslf5o-d8a581a2d54caa28ae9c9333c5a8aeae{
height:50px;
}

.avia-image-container.av-jhukmtsw-895cc0576153f125c407f05b25375b19 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jhukmtsw-895cc0576153f125c407f05b25375b19 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-jkjrahlg-f100d9d856289b4a5854a54e7dc5b9a5{
height:80px;
}

.flex_column.av-gbpcm-7696555abec2c5dee60727faab51f920{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-rqjh2-8d49dcc3d92505f8da77549143c6c0d0{
padding-bottom:10px;
font-size:40px;
}
body .av-special-heading.av-rqjh2-8d49dcc3d92505f8da77549143c6c0d0 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-rqjh2-8d49dcc3d92505f8da77549143c6c0d0 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-rqjh2-8d49dcc3d92505f8da77549143c6c0d0 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-jkjrahlg-31-167046c306b3d1903a19a4951119e46f{
height:50px;
}

.av-hotspot-image-container .av-image-hotspot.av-6wipa-25876f6da6d96adcbd2156027279a1c2{
top:10.7%;
left:38%;
}
.av-hotspot-image-container .av-image-hotspot.av-6wipa-25876f6da6d96adcbd2156027279a1c2 .av-image-hotspot_inner{
background-color:#84d1ef;
color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-aiksu-de9c96a20697ebea3691c2b0fcc3c3c7{
top:37.4%;
left:56.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-aiksu-de9c96a20697ebea3691c2b0fcc3c3c7 .av-image-hotspot_inner{
background-color:#84d1ef;
color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-qhoi6-0df4d83623b0413a3ef4b5d2c30b108a{
top:42%;
left:49.1%;
}
.av-hotspot-image-container .av-image-hotspot.av-qhoi6-0df4d83623b0413a3ef4b5d2c30b108a .av-image-hotspot_inner{
background-color:#84d1ef;
color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-87ez2-8e4f3ea6e5a82c985a595ca123d1f4dc{
top:36.7%;
left:61.5%;
}
.av-hotspot-image-container .av-image-hotspot.av-87ez2-8e4f3ea6e5a82c985a595ca123d1f4dc .av-image-hotspot_inner{
background-color:#84d1ef;
color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-ecz1y-d5c3546049a48e73030a89cf5277bcae{
top:37.3%;
left:58.6%;
}
.av-hotspot-image-container .av-image-hotspot.av-ecz1y-d5c3546049a48e73030a89cf5277bcae .av-image-hotspot_inner{
background-color:#84d1ef;
color:#ffffff;
}

.av-hotspot-image-container .av-image-hotspot.av-157qm-f73118eacb366ebdfd358f3324b9e7dc{
top:77%;
left:59.2%;
}
.av-hotspot-image-container .av-image-hotspot.av-157qm-f73118eacb366ebdfd358f3324b9e7dc .av-image-hotspot_inner{
background-color:#84d1ef;
color:#ffffff;
}

#top .av-special-heading.av-1559k6-66b620fd0cb776f7393c9d6fed948bc8{
padding-bottom:0;
font-size:25px;
}
body .av-special-heading.av-1559k6-66b620fd0cb776f7393c9d6fed948bc8 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-1559k6-66b620fd0cb776f7393c9d6fed948bc8 .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-1559k6-66b620fd0cb776f7393c9d6fed948bc8 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-59e1ec3c96dde91ed29e5c1bb54cbe63{
height:20px;
}

.flex_column.av-gsf7a-179959fe1015065f95f858985aa687f9{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-gsf7a-27-43bd3957a4108923a22b621c00a7d8e8{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av-horizontal-gallery.av-jkjrog7l-4fb7afdbffaca8733050f11eaa03bde8{
padding:3.75% 0px;;
}
.av-horizontal-gallery.av-jkjrog7l-4fb7afdbffaca8733050f11eaa03bde8 .av-horizontal-gallery-inner{
padding-bottom:25%;
}

#top .av-special-heading.av-us35a-7c9216a1ccee611255a0e0efe09319da{
padding-bottom:0;
font-size:25px;
}
body .av-special-heading.av-us35a-7c9216a1ccee611255a0e0efe09319da .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-us35a-7c9216a1ccee611255a0e0efe09319da .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-us35a-7c9216a1ccee611255a0e0efe09319da .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-29-07e8f0426f2440307590193967fa40d9{
height:20px;
}

.flex_column.av-gsf7a-25-63f4c556e79585577df64db798a4ab06{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-gsf7a-19-87cc9a570bdc8f35ba28cba6d656c59f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av-horizontal-gallery.av-jkjrog7l-23-87c297aad6d31a6620a1ee62845f92b9{
padding:3.75% 0px;;
}
.av-horizontal-gallery.av-jkjrog7l-23-87c297aad6d31a6620a1ee62845f92b9 .av-horizontal-gallery-inner{
padding-bottom:25%;
}

#top .av-special-heading.av-2uffy-08b44588e834a8aabcd64e49bc679a30{
padding-bottom:0;
font-size:25px;
}
body .av-special-heading.av-2uffy-08b44588e834a8aabcd64e49bc679a30 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2uffy-08b44588e834a8aabcd64e49bc679a30 .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-2uffy-08b44588e834a8aabcd64e49bc679a30 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-21-e941284e7a46a7bac50f477fa30c284c{
height:20px;
}

.flex_column.av-gsf7a-17-953cb3ea2defe09d58514b77fda070fa{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-50q50f-14-3171f027adb8ee470f4494a57ab3a406{
height:15px;
}

.flex_column.av-gsf7a-12-eebd391d7bb5bf91e36a37b63a6a912b{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.av-horizontal-gallery.av-jkjrog7l-15-81f4a4c6e88aa3f776cb7a27f0c267b8{
padding:3.75% 0px;;
}
.av-horizontal-gallery.av-jkjrog7l-15-81f4a4c6e88aa3f776cb7a27f0c267b8 .av-horizontal-gallery-inner{
padding-bottom:25%;
}

#top .hr.hr-invisible.av-50q50f-10-d9185c661b373b02581fb23e821fab38{
height:40px;
}

.flex_column.av-gsf7a-8-2fcd532f071125308be6122096982ff7{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#efefef;
}

#top .av-special-heading.av-j73km-ce3d7050e8967d4fdd147194b80cdfc4{
padding-bottom:0;
font-size:25px;
}
body .av-special-heading.av-j73km-ce3d7050e8967d4fdd147194b80cdfc4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-j73km-ce3d7050e8967d4fdd147194b80cdfc4 .av-special-heading-tag{
font-size:25px;
}
.av-special-heading.av-j73km-ce3d7050e8967d4fdd147194b80cdfc4 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-fhrf2-3c15713f7c9ae17ac502c7946ead3f29{
padding-bottom:0;
color:#4a4a4a;
}
body .av-special-heading.av-fhrf2-3c15713f7c9ae17ac502c7946ead3f29 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-fhrf2-3c15713f7c9ae17ac502c7946ead3f29 .special-heading-inner-border{
border-color:#4a4a4a;
}
.av-special-heading.av-fhrf2-3c15713f7c9ae17ac502c7946ead3f29 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-6-ba530ae52b88beb4bcc82b3709276d10{
height:10px;
}

.flex_column.av-gsf7a-5-72d92975fdb7220dc7edf19137ec6606{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#efefef;
}

#top .hr.hr-invisible.av-50q50f-4-ca8256cfea3a2b6bc59711828c880816{
height:80px;
}

#top .av-special-heading.av-116oe-b62c9a8baedea0fe1e4d5b5168a85001{
padding-bottom:10px;
color:#d1d1d1;
}
body .av-special-heading.av-116oe-b62c9a8baedea0fe1e4d5b5168a85001 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-116oe-b62c9a8baedea0fe1e4d5b5168a85001 .special-heading-inner-border{
border-color:#d1d1d1;
}
.av-special-heading.av-116oe-b62c9a8baedea0fe1e4d5b5168a85001 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-km4y5zvq-f290d7948660b0dd9891450c9a2dbad2 .avia_textblock{
font-size:18px;
}

#top .hr.hr-invisible.av-253eon-82e0c82a4c8f8c194cfd8383a1907a56{
height:30px;
}

.flex_cell.av-klaqxqkh-826efac3260757c8bdd1e60a28998ac6{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-klaqxqkh-826efac3260757c8bdd1e60a28998ac6{
padding:40px 40px 40px 40px !important;
}

#top .av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff{
padding-bottom:10px;
color:#ffffff;
font-size:30px;
}
body .av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-3-dcdbe99e37590832c2d9d0d6a2bf18f4{
height:20px;
}

.avia-image-container.av-hd5qf-daa711e8ae4b4886448d09558622f882 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-hd5qf-daa711e8ae4b4886448d09558622f882 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-klaw73rb-ccd0e609e7ae4d27be79245dd47880e4{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-klaw73rb-ccd0e609e7ae4d27be79245dd47880e4{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-klaw6hse-242c35fae986211b8d5b355f722a6752 .avia_textblock{
font-size:18px;
color:#ffffff;
}

#top .av_textblock_section.av-klaw6hse-2-ee68d89a7d090f22e1c076fb9a982a56 .avia_textblock{
font-size:18px;
color:#ffffff;
}

.flex_cell.av-klaw792g-57a3c1bb401276ac348a2d3d55ebf3f8{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-klaw792g-57a3c1bb401276ac348a2d3d55ebf3f8{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-klaw6hse-1-34d5da71148a055458db7ce11088d139 .avia_textblock{
font-size:18px;
color:#ffffff;
}

.flex_cell.av-jhlnq-c88481f54002eaa76a51457923758cb1{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-jhlnq-c88481f54002eaa76a51457923758cb1{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-dzonq-bff14013dd2aee98a8995dafd171b2c4 .avia_textblock{
font-size:18px;
color:#ffffff;
}

#top .av_textblock_section.av-6xiyu-6e7f9b5fc78537f59853e0294cd52ff7 .avia_textblock{
font-size:18px;
color:#ffffff;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-rqjh2-8d49dcc3d92505f8da77549143c6c0d0 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-1559k6-66b620fd0cb776f7393c9d6fed948bc8 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-us35a-7c9216a1ccee611255a0e0efe09319da .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-2uffy-08b44588e834a8aabcd64e49bc679a30 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-j73km-ce3d7050e8967d4fdd147194b80cdfc4 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-rqjh2-8d49dcc3d92505f8da77549143c6c0d0 .av-special-heading-tag{
font-size:25px;
}

#top #wrap_all .av-special-heading.av-1559k6-66b620fd0cb776f7393c9d6fed948bc8 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-us35a-7c9216a1ccee611255a0e0efe09319da .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-2uffy-08b44588e834a8aabcd64e49bc679a30 .av-special-heading-tag{
font-size:0.8em;
}

#top #wrap_all .av-special-heading.av-j73km-ce3d7050e8967d4fdd147194b80cdfc4 .av-special-heading-tag{
font-size:20px;
}

#top #wrap_all .av-special-heading.av-116oe-b62c9a8baedea0fe1e4d5b5168a85001 .av-special-heading-tag{
font-size:18px;
}

#top #wrap_all .av-special-heading.av-8bdpy-a846c3a164ce74dfd714749b027515ff .av-special-heading-tag{
font-size:30px;
}
}
