.avia-section.av-kmnh70bf-6f340a5d0ade9144c194e39a98fd2bd1{
background-color:#84d1ef;
background-image:unset;
}

.flex_column.av-kmnh7gwu-e2f8bdc7524d5e74bec3aeda3ccc3e70{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-kmnhgv4t-5817d6cc4c98c45d1ac0ea2b31886056{
margin:0 0 0 0;
padding-bottom:0;
color:#ffffff;
}
body .av-special-heading.av-kmnhgv4t-5817d6cc4c98c45d1ac0ea2b31886056 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-kmnhgv4t-5817d6cc4c98c45d1ac0ea2b31886056 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-kmnhgv4t-5817d6cc4c98c45d1ac0ea2b31886056 .av-subheading{
font-size:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

#top .hr.hr-invisible.av-cnwfq-c62aca8883691b81c1043571b3f3cf04{
height:20px;
}

.flex_cell.av-klaqxqkh-826efac3260757c8bdd1e60a28998ac6{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-klaqxqkh-826efac3260757c8bdd1e60a28998ac6{
padding:40px 40px 40px 40px !important;
}

#top .av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140{
padding-bottom:10px;
color:#ffffff;
font-size:30px;
}
body .av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140 .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-bc99ae8fa9ff30d8e71b4dd9b95837c0{
height:20px;
}

.avia-image-container.av-hd5qf-daa711e8ae4b4886448d09558622f882 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-hd5qf-daa711e8ae4b4886448d09558622f882 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-klaw73rb-ccd0e609e7ae4d27be79245dd47880e4{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-klaw73rb-ccd0e609e7ae4d27be79245dd47880e4{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-klaw6hse-242c35fae986211b8d5b355f722a6752 .avia_textblock{
font-size:18px;
color:#ffffff;
}

#top .av_textblock_section.av-klaw6hse-242c35fae986211b8d5b355f722a6752 .avia_textblock{
font-size:18px;
color:#ffffff;
}

.flex_cell.av-klaw792g-57a3c1bb401276ac348a2d3d55ebf3f8{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-klaw792g-57a3c1bb401276ac348a2d3d55ebf3f8{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-klaw6hse-984487805dad80e653a28f79aad95e6f .avia_textblock{
font-size:18px;
color:#ffffff;
}

.flex_cell.av-61lbvh-5148d0b0dfb524e199acfa12bc6067cd{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-61lbvh-5148d0b0dfb524e199acfa12bc6067cd{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-4bqe4d-03e53dd2cd339ea9f78b82943bca41d2 .avia_textblock{
font-size:18px;
color:#ffffff;
}

#top .av_textblock_section.av-20zkgt-7385a13f3ce52d7c6ba204a7ca325dd7 .avia_textblock{
font-size:18px;
color:#ffffff;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-kmnhgv4t-5817d6cc4c98c45d1ac0ea2b31886056 .av-special-heading-tag{
font-size:40px;
}

#top #wrap_all .av-special-heading.av-2li5z1-144910db61606099cb54f3eb4dcde140 .av-special-heading-tag{
font-size:30px;
}
}
