.flex_column.av-a0gmu-fdcec2ce279ebf10616ac074c091f9cf{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.flex_column.av-a0gmu-1-94060367eb1788bd04fe6b6eb9b73a4f{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .hr.hr-invisible.av-cnwfq-0f66ca3841b7285bf6ee1f38d66e4153{
height:50px;
}

.flex_column.av-di53r-883820e0f71de2a9c95a4c3754e13424{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:30px 30px 30px 30px;
background-color:#84d1ef;
}

#top .av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63{
padding-bottom:10px;
color:#ffffff;
font-size:40px;
}
body .av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63 .av-special-heading-tag{
font-size:40px;
}
.av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-bc99ae8fa9ff30d8e71b4dd9b95837c0{
height:20px;
}

.avia-image-container.av-hd5qf-daa711e8ae4b4886448d09558622f882 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-hd5qf-daa711e8ae4b4886448d09558622f882 .av-image-caption-overlay-center{
color:#ffffff;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63 .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-jsefdude-43f986ef019f2843f9fb99e0fba99a63 .av-special-heading-tag{
font-size:30px;
}
}
