.flex_column.av-lashz-0b05b1d9b599cc25f6ce4970bb9d2399{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

#top .av-special-heading.av-jkwm6dcq-36905bd54c804a788ca624f9a59a431e{
padding-bottom:10px;
}
body .av-special-heading.av-jkwm6dcq-36905bd54c804a788ca624f9a59a431e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-jkwm6dcq-36905bd54c804a788ca624f9a59a431e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-50q50f-bc99ae8fa9ff30d8e71b4dd9b95837c0{
height:20px;
}

#top .hr.hr-invisible.av-50q50f-568de8cfe9391575c7af020385792d9e{
height:30px;
}

.flex_column.av-lashz-60c16af86775501213cbe8289c134cb0{
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-jimzf9oy-1b0d017db0858ae3a3819f5711c39164 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-jimzf9oy-1b0d017db0858ae3a3819f5711c39164 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-ft856g-084ffa45474971f61144283d3797fb2d{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-ft856g-084ffa45474971f61144283d3797fb2d{
padding:40px 40px 40px 40px !important;
}

#top .av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd{
padding-bottom:10px;
color:#ffffff;
font-size:30px;
}
body .av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd .av-special-heading-tag{
font-size:30px;
}
.av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-ehqtoo-475ba073e6b2eab25716d3c475f2a64f{
height:20px;
}

.avia-image-container.av-17le1k-d5d714b943f0e8cd9b674afbc21dfae1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-17le1k-d5d714b943f0e8cd9b674afbc21dfae1 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_cell.av-bka3l4-bcd71d4be8ecd90c51f2daef763aa710{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-bka3l4-bcd71d4be8ecd90c51f2daef763aa710{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-9i4ch4-ea8d956e86da7610d21a01983a8a04f5 .avia_textblock{
font-size:18px;
color:#ffffff;
}

#top .av_textblock_section.av-81beu0-74de395600504997619edaec3f980567 .avia_textblock{
font-size:18px;
color:#ffffff;
}

.flex_cell.av-5ju6bs-0302b65b270528d62991c1855457953b{
vertical-align:top;
background-color:#84d1ef;
}
.responsive #top #wrap_all .flex_cell.av-5ju6bs-0302b65b270528d62991c1855457953b{
padding:40px 40px 40px 40px !important;
}

#top .av_textblock_section.av-4kqo7s-c283d7a35ba5e612d276b8b48fa4be6c .avia_textblock{
font-size:18px;
color:#ffffff;
}

#top .av_textblock_section.av-38kx3c-a194ebed0ef51e6cbf964b82d9ce6246 .avia_textblock{
font-size:18px;
color:#ffffff;
}


@media only screen and (min-width: 480px) and (max-width: 767px){ 
#top #wrap_all .av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd .av-special-heading-tag{
font-size:0.8em;
}
}

@media only screen and (max-width: 479px){ 
#top #wrap_all .av-special-heading.av-jkwm6dcq-36905bd54c804a788ca624f9a59a431e .av-special-heading-tag{
font-size:25px;
}

#top #wrap_all .av-special-heading.av-kwarzifq-4b78ef8a065d7f7f906be3a21e3bc3bd .av-special-heading-tag{
font-size:30px;
}
}
